/*
 * COPYRIGHT NOTICE:
 * Copyright 2017, Mathew Bartgis, All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 * 
 * VERSION INFORMATION:
 * $Date: 2017-11-24 20:17:19 -0500 (Fri, 24 Nov 2017) $
 * $Revision: 263 $
 * $Author: mbartgis $
 */
iframe.copyright {
	border: none;
	width: 100%;
	margin: 0px;;
}

body.encapsulate {
	margin-right: 40px;
	margin-left: 40px;
	background: #000000;
	color: white;
}

div.encapsulate {
	margin-right: 40px;
	margin-left: 40px;
	background: #000000;
	color: white;
}

div.copyright-footer {
	color: white;
	background-color: #8e010f;
	padding: 5px;
	padding-left: 10px;
}

h1.heading {
	color: white;
	background: #8e010f;
	padding: 5px;
	padding-left: 10px;
	margin: 0px;
}

h1.heading hr {
	border-color: #555555;
	background-color: white;
	padding-bottom: 0px;
	margin: 0px;
}

.heading-nav {
	color: white;
	background-color: #555555;
	padding: 5px;
	padding-left: 10px;
}

a.heading-nav {
	text-decoration: none;
	color: white;
}

.black-bg {
	background-color: #000000;
}